[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -c ~/.config/isync/mbsyncrc -Va

[Install]
WantedBy=default.target
