* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    font-style: normal;
    border-radius: 0;
}

window#waybar {
    background: #1D2021;
}

tooltip {
    color: #C2B394;
    background: #1D2021;
    border: 1px solid #783F44;
}

tooltip label {
    color: #C2B394;
    font-size: 13px;
}

#custom-divider {
    color: #C2B394;
    margin: 0;
    padding: 0;
}

#custom-logo {
    color: #4D4D4D;
    margin: 0;
    padding: 0 8px 0 8px;
}

#workspaces {
    margin: 0;
    padding: 0 8px 0 8px;
    background: transparent;
    transition: none;
    border: none;
}

#workspaces button {
    margin: 0;
    padding: 0 4px 2px 4px;
    color: #4D4D4D;
    background: transparent;
    transition: none;
    border: none;
}

#workspaces button.empty {
    color: #2C2C2C;
}

#workspaces button.active {
    color: #AD685A;
    padding: 0 4px 0 4px;
    border-bottom: 2px solid #C2B394;
}


#workspaces button.active:hover {
    background: transparent;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

#workspaces button:hover {
    background: transparent;
    border: none;
    text-shadow: none;
    box-shadow: none;
}


#mpris {
    margin: 0;
    padding: 0 8px 0 8px;
    color: #C2B394;
}

#clock {
    margin: 0;
    padding: 0 16px 0 16px;
    color: #C2B394;
}

#network {
    margin: 0;
    padding: 0 8px 0 8px;
    color: #C2B394;
}

#cpu {
    margin: 0;
    padding: 0 8px 0 8px;
    color: #C2B394;
}

#memory {
    margin: 0;
    padding: 0 8px 0 8px;
    color: #C2B394;
}

#custom-email {
    margin: 0;
    padding: 0 8px 0 8px;
    color: #C2B394;
}

#custom-xmr-profit {
    margin: 0;
    padding: 0 8px 0 8px;
    color: #C2B394;
}

#pulseaudio {
    margin: 0;
    padding: 0 8px 0 8px;
    color: #C2B394;
}

#battery {
    margin: 0;
    padding: 0 8px 0 12px;
    color: #C2B394;
}

#language {
    margin: 0;
    padding: 0 8px 0 8px;
    color: #C2B394;
}

#tray {
    margin: 0;
    padding: 0 8px 0 8px;
    color: #C2B394;
}
