* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    font-style: normal;
    color: #f8f8f2;
}

#window {
    background: #1D2021;
    border: 2px solid #783F44;
}

#outer-box {
    background: transparent;
}

#input {
    color: #C2B394;
    background: #1D2021;
    margin: 16px;
    border: 2px solid #1D2021;
    transition: 0.25s;
}

#input image {
    color: #C2B394;
    transition: 0.25s;
}

#input:focus image {
    color: #783F44;
}

#scroll {
    margin: 0px 16px 0px 16px;
    border-radius: 8px;
}

#inner-box {
    border: 0;
    color: transparent;
    border-color: transparent;
}

#entry {
    padding: 8px;
    border-radius: 8px;
}

#entry:selected {
    background: #783F44;
}

#text {
    color: #4D4D4D;
}

#text:selected {
    color: #C2B394;
}
